body{
font-family:Arial;
background:#111;
color:white;
text-align:center;
}
button{
padding:10px 20px;
margin:10px;
background:#00ffcc;
border:none;
cursor:pointer;
}
input{
display:block;
margin:10px auto;
padding:10px;
width:200px;
}
